{% extends 'base.html' %}
{% load static %}
{% block title %}
Registro Confiabilidad | Evaluacion
{% endblock title %}
{% block content %}
<div class="container-fluid">
  <h6 class="text-dark text-gray-600 text-uppercase">Registro Confiabilidad</h6>
  <small class="form-text1">Rol: Se registra el avance de las OT registradas en el modulo de Planeacion.</small>
  <div class="card shadow mt-3">
    <div class="card-header py-3">
      <p class="text-primary m-0 text-gray-600 text-uppercase">Registro Confiabilidad</p>
    </div>
    <div class="card-body">
      <form name="confiabilidad_form" action="{% url 'planeacion:regeconfiabilidad' %}" method="post"
        onsubmit="return validacion_formulario_confiabilidad();" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col prueba">
            <div class="input-group mt-1">
              <strong><small class="text-uppercase">Orden de trabajo</small></strong>
            </div>
            <div class="input-group mt-1">
              <select class="form-select form-select-sm" name="confiabilidad_OT" id="confiabilidad_OT">
                <optgroup label="Orden de TRabajo">
                  <option disabled selected value>Seleccione una opcion</option>
                  {% for datos in data %}
                  <option value="{{ datos.orden_trabajo }}">{{ datos.orden_trabajo }} - {{ datos.fuente }}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </div>
            <hr />
            <div class="input-group mt-1">
              <strong><small class="text-uppercase">Tipo Medida</small></strong>
            </div>
            <div class="input-group mt-1">
              <select class="form-select form-select-sm" name="tipo_medida" id="tipo_medida">
                <optgroup label="Tipo Medida">
                  <option disabled selected value>Seleccione una opcion</option>
                  <option value="2">Dos Elementos</option>
                  <option value="3">Tres Elementos</option>
                </optgroup>
              </select>
            </div>
            <hr />
            <div class="input-group mb-2">
              <strong><small class="text-uppercase">Valor Tensiones</small></strong>
            </div>
            <div class="input-group mt-1">
              <input class="form-control form-control-sm" type="number" placeholder="Tension A"
                name="confiabilidad_tension_a" id="confiabilidad_tension_a" />
              <input class="form-control form-control-sm" type="number" placeholder="Tension B"
                name="confiabilidad_tension_b" id="confiabilidad_tension_b" />
              <input class="form-control form-control-sm" type="number" placeholder="Tension C"
                name="confiabilidad_tension_c" id="confiabilidad_tension_c" />
              <input class="form-control form-control-sm" type="number" placeholder="Promedio Tensiones"
                name="confiabilidad_promedio_tension" id="confiabilidad_promedio_tension" />
            </div>

            <div class="input-group mt-2 mb-2">
              <strong><small class="text-uppercase">Valor Corrientes</small></strong>
            </div>
            <div class="input-group mt-1">
              <input class="form-control form-control-sm" type="number" placeholder="Corriente A"
                name="confiabilidad_corrientes_a" id="confiabilidad_corrientes_a" />
              <input class="form-control form-control-sm" type="number" placeholder="Corriente B"
                name="confiabilidad_corrientes_b" id="confiabilidad_corrientes_b" />
              <input class="form-control form-control-sm" type="number" placeholder="Corriente C"
                name="confiabilidad_corrientes_c" id="confiabilidad_corrientes_c" />
              <input class="form-control form-control-sm" type="number" placeholder="Promedio Corrientes"
                name="confiabilidad_corrientes_promedio" id="confiabilidad_corrientes_promedio" />
            </div>
            <div class="input-group mt-2 mb-2">
              <strong><small class="text-uppercase">Valor Angulos</small></strong>
            </div>
            <div class="input-group mt-1">
              <input class="form-control form-control-sm" type="number" placeholder="Angulo IA" name="angulo_ia"
                id="angulo_ia" />
              <input class="form-control form-control-sm" type="number" placeholder="Angulo IB" name="angulo_ib"
                id="angulo_ib" />
              <input class="form-control form-control-sm" type="number" placeholder="Angulo IC" name="angulo_ic"
                id="angulo_ic" />
              <input class="form-control form-control-sm" type="number" placeholder="Promedio Angulo"
                name="promedio_angulo" id="promedio_angulo" />
            </div>
            <hr />
            <div class="input-group mb-2">
              <strong><small class="text-uppercase">Seleccione las siguientes opciones</small></strong>
            </div>
            <hr/>
            <div class="input-group mt-1">
              <select class="form-select form-select-sm" name="validacion_canales" id="validacion_canales">
                <optgroup label="¿Se Validaron Canales?">
                  <option disabled selected value>Validacion Canales</option>
                  <option value="SI">Si</option>
                  <option value="NO">No</option>
                </optgroup>
              </select>
            </div>
            <hr />
            <div class="input-group mt-1">
              <select class="form-select form-select-sm" name="fechaHora" id="fechaHora">
                <optgroup label="Sincronizacion Fecha Y Hora">
                  <option disabled selected value>Sincronizacion Fecha Y Hora</option>
                  <option value="SI">Si</option>
                  <option value="NO">No</option>
                </optgroup>
              </select>
            </div>
            <hr />
            <div class="input-group mb-2">
              <strong><small class="text-uppercase">Actualizacion Sistema</small></strong>
            </div>
            <div class="input-group mt-2">
              <input class="form-control" type="file" id="formFile" name="formFile"/>
            </div>
            <div class="input-group mt-3">
              <button class="btn btn-primary text-uppercase botonesFormularios" type="submit">Guardar
                Informacion</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'assets/js/confiabilidad.js'%}"></script>
{% endblock javascript %}