{% extends 'base.html' %}
{% block title %}
  Hacer | Evaluacion
{% endblock title %}
{% block content %}
  <div class="container-fluid mt-5">
    <h6 class="text-dark text-gray-600 text-uppercase">Registro del Hacer</h6>
    <small class="form-text1">
      Rol: Este modulo permite registrar el avance de la revision de la OT que se registro en el modulo de planeacion
    </small>
    <div class="card shadow mt-3">
      <div class="card-header py-3">
        <p class="text-primary m-0 text-gray-600 text-uppercase">Listado Modulo Hacer</p>
        {% if info %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Informacion</strong> Se agrego informacion correctamente.
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endif %}
        <div class="input-group mt-1">
          <a class="btn btn-dark" href="{% url "planeacion:regehacer" %}">Nuevo Hacer</a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <table id="sebastian" class="display responsive nowrap" style="width: 100%">
            <thead>
              <tr>
                <th class="text-uppercase">ID</th>
                <th class="text-uppercase">Orden Trabajo</th>
                <th class="text-uppercase">Actividad Ejecutada</th>
                <th class="text-uppercase">Numero Formato</th>
                <th class="text-uppercase">Multiplo</th>
                <th class="text-uppercase">Telemedida</th>
                <th class="text-uppercase">Actualizacion Sistema</th>
                <th class="text-uppercase">Pagar</th>
                <th class="text-uppercase">Acciones</th>
             </tr>
            </thead>
            <tbody>
              {% for info in data %}
                <tr>
                  <td class="text-capitalcase">{{ info.pk }}</td>
                  <td class="text-capitalcase">{{ info.orden_trabajo }}</td>
                  <td class="text-capitalcase">{{ info.actividad_ejecutada }}</td>
                  <td class="text-capitalcase">{{ info.numero_formato }}</td>
                  <td class="text-capitalcase">{{ info.multiplo }}</td>
                  <td class="text-capitalcase">{{ info.telemedida }}</td>
                  <td class="text-capitalcase">{{ info.actualizac0ion_sistema }}</td>
                  <td class="text-capitalcase">{{ info.pagar }}</td>
                  <td>
                    <div class="contenedorBotones">
                      <button class="btn-dark botones">
                        Modificar Hacer
                      </button>
                      <button class="btn-danger botones"  type="button">
                        Eliminar Hacer
                      </button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th class="text-uppercase">ID</th>
              <th class="text-uppercase">Orden Trabajo</th>
              <th class="text-uppercase">Actividad Ejecutada</th>
              <th class="text-uppercase">Numero Formato</th>
              <th class="text-uppercase">Multiplo</th>
              <th class="text-uppercase">Telemedida</th>
              <th class="text-uppercase">Actualizacion Sistema</th>
              <th class="text-uppercase">Pagar</th>
              <th class="text-uppercase">Acciones</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
