{% extends 'base.html' %}
{% block title %}
  Registro Hacer | Evalaucion
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <h6 class="text-dark text-gray-600 text-uppercase">Registro Hacer</h6>
    <small class="form-text1">Rol: Se registra el avance de las OT registradas en el modulo de Planeacion.</small>
    <div class="card shadow mt-1">
      <div class="card-header py-3">
        <p class="text-primary m-0 text-gray-600 text-uppercase">Registro Hacer</p>
      </div>
      <div class="card-body">
        <form action="{% url 'planeacion:save_event' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col prueba">
              <div class="input-group mt-2">
                <small>* Orden de trabajo *</small>
              </div>
              <div class="input-group mt-2">
                <select class="form-select form-select-sm" id="quienReporta" name="quienReporta">
                  <optgroup label="Quien Reporta">
                    <option disabled selected value>Seleccione una opcion</option>
                    
                    {% for datos in data %}
                        <option value="Campañas Medida">{{ datos.orden_trabajo }} - {{ datos.fuente }}</option>
                    {% endfor %}
                                       
                  </optgroup>
                </select>
              </div>
              <div class="input-group mt-2">
                <small>* Digite ID PUNTO DE SERVICIO</small>
              </div>
              <div class="input-group mt-2">
                <input class="form-control form-control-sm"
                       type="number"
                       placeholder="ID Punto Servicio"
                       id="idPuntoServicio"
                       name="idPuntoServicio"/>
              </div>
              <div class="input-group mt-2">
                <small>* Seleccione actividad a ejecutar</small>
              </div>
              <div class="input-group mt-2">
                <select id="actividadEjecutar"
                        name="actividadEjecutar"
                        class="form-select form-select-sm"
                        onchange="capturar()">
                  <optgroup label="Tipo de actividad">
                    <option disabled selected value>
                      Seleccione una opcion
                    </option>
                    <option value="Revision por alto consumo">
                      Revision por alto consumo
                    </option>
                    <option value="Reprogramacion equipos de medida">
                      Reprogramacion equipos de medida
                    </option>
                    <option value="Normalizar equipos y aseguramiento de la medida">
                      Normalizar equipos y aseguramiento de la medida
                    </option>
                    <option value="Verificar cumplimiento de norma e instalacion del servicio">
                      Verificar cumplimiento de norma e instalacion del servicio
                    </option>
                    <option value="Normalizacion comunicación y asegurar bajada de datos">
                      Normalizacion comunicación y asegurar bajada de datos
                    </option>
                    <option value="Normalizacion y aseguramiento de la medida">
                      Normalizacion y aseguramiento de la medida
                    </option>
                    <option value="Suspender servicio de cañuelas">
                      Suspender servicio de cañuelas
                    </option>
                    <option value="Suspender servicio de poste">
                      Suspender servicio de poste
                    </option>
                    <option value="Garantizar estado de la medida">
                      Garantizar estado de la medida
                    </option>
                    <option value="Aseguramiento de equipo md y la informacion por siniestro">
                      Aseguramiento de equipo md y la informacion por siniestro
                    </option>
                    <option value="Normalizar reporte de anomalia">
                      Normalizar reporte de anomalia
                    </option>
                    <option value="Instalacion a cliente provisional">
                      Instalacion a cliente provisional
                    </option>
                    <option value="Programacion a otros comercializadores">
                      Programacion a otros comercializadores
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="input-group mt-2">
                <select id="fuente" name="fuente" class="form-select form-select-sm">
                  <optgroup label="Fuente">
                    <option disabled selected value>
                      Seleccione una opcion
                    </option>
                    <option value="TyD">
                      TyD
                    </option>
                    <option value="OYMM">
                      OYMM
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="input-group mt-2">
                <select id="contrata" name="contrata" class="form-select form-select-sm">
                  <optgroup label="Contratista">
                    <option disabled selected value>
                      Seleccione una opcion
                    </option>
                    <option value="Proing">
                      Proing
                    </option>
                    <option value="Hesego">
                      Hesego
                    </option>
                    <option value="Inelma">
                      Inelma
                    </option>
                    <option value="Micol">
                      Micol
                    </option>
                    <option value="Enecom">
                      Enecom
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="input-group mt-2">
                <input class="form-control form-control-sm"
                       type="text"
                       placeholder="Quien Resuelve"
                       id="quienResuelve"
                       name="quienResuelve"/>
              </div>
              <div class="input-group mt-1">
                <button class="btn btn-primary" id="guardar-info" type="submit">Guardar Informacion</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
