{% extends 'base.html' %} 
{% load static %}
{% block title %} Programador Medida | Evaluacion {%endblock %} {% block content%}
<div class="container-fluid">
  <h6 class="text-dark text-gray-600 text-uppercase">Programador Medida</h6>
  <small class="form-text1">Rol: Este modulo permite registrar</small>
  <div class="card shadow mt-1">
    <div class="card-header py-3">
      <p class="text-primary m-0 text-gray-600 text-uppercase">
        Informacion Planeacion
      </p>
    </div>
    <div class="card-body">
    <form name="formulario_planeacion" action="{% url 'planeacion:save_planeacion' %}" method="post" onsubmit="return validacionFormularioPlaneacion()">
      {% csrf_token %}
      <div class="row">
          <div class="col prueba">
            <div class="input-group mt-2">
              <input
                class="form-control form-control-sm"
                type="number"
                placeholder="Ingrese la ORDEN ..."
                name="ot"
              />
            </div>
            <div class="input-group mt-2">
              <small id="mensajeValidacionOT" class="text-danger"></small>
            </div>
            <div class="input-group mt-2">
              <select name="origen" class="form-select form-select-sm">
                <optgroup class="text-capitalize" label="Aplicacion de origen">
                  <option disabled selected value>
                    Seleccione una opcion de aplicacion de Origen
                  </option>
                  <option value="C2M">C2M</option>
                  <option value="OSC">OSC</option>
                </optgroup>
              </select>
            </div>
            <div class="input-group mt-2">
              <small id="mensajeValidacionOrigen" class="text-danger"></small>
            </div>
            <div class="input-group mt-2">
              <select name="contrata" class="form-select form-select-sm">
                <optgroup class="text-capitalize" label="Aplicacion de origen">
                  <option disabled selected value>
                    Seleccione una opcion de la contrata
                  </option>
                  <option value="Proing">Proing</option>
                  <option value="Hesego">Hesego</option>
                  <option value="Inelma">Inelma</option>
                  <option value="Micol">Micol</option>
                  <option value="Enecom">Enecom</option>
                </optgroup>
              </select>
            </div>
            <div class="input-group mt-2">
              <small id="mensajeValidacionContrata" class="text-danger"></small>
            </div>
            <div class="input-group mt-1">
              <button class="btn btn-primary botonesFormularios" id="saveData" type="submit">
                Guardar Informacion
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'assets/js/validaciones.js'%}"></script>
{% endblock javascript %}