{% extends 'base.html' %}
{% block title %} Lista de planeacion | Evaluacion {% endblock title %}
{% block content %}

<div class="container-fluid mt-5">
    <h6 class="text-dark text-gray-600 text-uppercase">Registro Programador Medida Especial</h6>
    <small class="form-text1">
      Programador medida especial, permite realizar registro de una OT a la cual se le va a llevar un control de tooda su ejecucion.
    </small>
    <div class="card shadow mt-3">
      <div class="card-header py-3">
        <p class="text-primary m-0 text-gray-600 text-uppercase">Listado Programacion</p>
        {% if info %}
          
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Informacion</strong> {{ info }}.
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
          
        {% endif %}
        <div class="input-group mt-1">
          <a class="btn btn-secondary" href="{% url "planeacion:reg_planeacion" %}">Nueva Planeacion</a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <table id="sebastian" class="display responsive nowrap" style="width: 100%">
            <thead>
              <tr>
                <th class="text-uppercase text-center">OT</th>
                <th class="text-uppercase text-center">Fuente</th>
                <th class="text-uppercase text-center">Fecha</th>
                <th class="text-uppercase text-center">Estado</th>
                <th class="text-uppercase text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for info in data %}
                <tr>
                  <td class="text-capitalcase text-center">{{ info.orden_trabajo }}</td>
                  <td class="text-capitalcase text-center">{{ info.fuente }}</td>
                  <td class="text-capitalcase text-center">{{ info.fecha_programacion }}</td>
                  {% if info.estado == "TERMINADO" %}
                  <td class="text-capitalcase text-center">
                    <span class="text-capitalcase badge bg-secondary text-center">{{ info.estado }}</span>  
                  </td>
                  {% else %}
                  <td class="text-capitalcase text-center">
                    <span class="text-capitalcase badge bg-gradient-danger text-center">{{ info.estado }}</span>  
                  </td>
                  {% endif %}
                  <td>
                    <div class="contenedorBotones">
                      <button class="btn-primary botonesFormularios text-center" type="button">Modificar Planeacion</button>
                      <button class="btn-primary botonesFormularios text-center" type="button">Eliminar Planeacion</button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th class="text-uppercase text-center">OT</th>
                <th class="text-uppercase text-center">Fuente</th>
                <th class="text-uppercase text-center">Fecha</th>
                <th class="text-uppercase text-center">Estado</th>
                <th class="text-uppercase text-center">Acciones</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}